.default-text-dark {
    font-size: 15;
    color: #e1e8e3;
}

.menu-dark {
    background-color: black;
}

.transition-dark {
    background-color: black;
}

.whiteboard-dark {
    background-color: #6b706c;
}

.menu-button-dark {
    background-color: black;
    color: #e1e8e3;
}

.menu-button-dark:hover {
    background-color: #e1e8e3;
    color: black;
}

.layout-name-container-dark {
    background-color: black;
}

.layout-name-dark {
    color: #e1e8e3;
}

.popup-dark {
    background-color: #6b706c;
    border: 5px solid black;
}

.input-label-dark {
    color: #e1e8e3;
}

.popup-input-dark {
    background-color: #e1e8e3;
    border: 5px solid black;
}

.apply-dark {
    background-color: #e1e8e3;
    color: black;
}

.apply-dark:hover {
    background-color: black;
    color: #e1e8e3;
}

.prompt-dark {
    color: #e1e8e3;
}

.draggable-selectable-field-dark {
    border: 5px solid black;
    background-color: #e1e8e3;
}

.default-selectable-dark {
    background-color: #e1e8e3;
    color: black;

}

.default-selectable-dark:hover {
    background-color: black;
    color: #e1e8e3;
}

.default-selectable-selected-dark {
    background-color: black;
    color: #e1e8e3;
}