@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto-Black.ttf");
}

body {
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#banner-container {
    position: fixed;
    background-color: white;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 200;
    top: 0%;
    transition: top 3.5s ease;
}

#banner {
    position: relative;
    left: 50%;
    top: 50%;
    width: 70%;
    max-height: 100%;
    aspect-ratio: 16 / 9;
    transform: translate(-50%, -50%);
    background-color: white;
}

.default-text {
    font-family: Roboto;
    font-size: 15px;
}

#menu {
    user-select: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 40px;
}

#menu-button-wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px 300px;
    grid-template-rows: 40px;
}

.dropdown {
    display: inline-block;
    width: 100px;
    height: 100%;
    margin: 0px;
    z-index: 0;
}

.dropdown-button {
    top: 0px;
    width: 100%;
    height: 100%;
    text-decoration: underline;
    border: none;
    margin: 0px;
    font-family: Roboto;
}

.dropdown:hover .dropdown-container {
    width: 150px;
    height: auto;
}

.dropdown:hover .dropdown-option {
    opacity: 100%;
    font-size: 15px;
    height: 25px;
    z-index: 1;
}

.dropdown-container {
    display: grid;
    grid-template-columns: 150px;
    width: 100px;
    height: 0px;
}

.dropdown-option {
    display: block;
    opacity: 0%;
    transition: all 0.2s ease-in;
    font-size: 8px;
    text-align: center;
    font-family: Roboto;
    width: 150px;
    height: 0px;
    user-select: none;
    text-overflow: clip;
}

.dropdown-option:hover {
    cursor: pointer;
}

#editingToggle {
    font-size: 14px;
}

#transition {
    width: 100%;
    height: 100%;
}

#popup-background {
    display: none;
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    opacity: 0%;
    margin: 0px;
}

.popup {
    display: none;
    width: 0%;
    height: 0%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
    z-index: 100;
}

.close {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 100%;
    z-index: 1;
    filter: none;
}

.close:hover {
    cursor: pointer;
}

#menu-container {
    display: grid;
    grid-template-columns: 150px;
    position: absolute;
    z-index: 200;
}

.menu-button {
    height: 20px;
    font-size: 15px;
    text-align: center;
    font-family: Roboto;
    width: 150px;
    user-select: none;
    text-overflow: clip;
}

.menu-button:hover {
    cursor: pointer;
}

.edit-mode-only {
    display: none;
}

.apply-container {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.apply {
    width: 100px;
    height: 50px;
    font-family: "Roboto";
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.popup-input {
    border-radius: 7px;
    font-family: Roboto;
    font-size: 15px;
    text-align: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -15px);
    margin-top: 5px;
}

.input-label {
    font-family: Roboto;
    font-size: 15px;
    text-align: center;
}

.simple-input-wrapper {
    display: inline-block;
    position: relative;
    width: min-content;
    height: min-content;
}


#color-input-wrapper {
    display: inline-block;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: min-content;
    height: min-content;
}

#layout-input-wrapper {
    margin-top: 50px;
}

#select-json-container {
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 250px;
    height: min-content;
}

#select-type-container {
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 250px;
    height: min-content;
    max-height: 150px;
}

.list-container {
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: min-content;
    max-height: calc(100% - 50px);
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: white;
}

.selectable {
    user-select: none;
    cursor: pointer;
}

.default-selectable {
    transition: all 0.2s ease-in;
    height: 20px;
    font-family: Roboto;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    overflow: ellipsis;
}

.notice-container {
    position: absolute;
    display: flex;
    top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    width: 400px;
    height: 50px;
    right: 0px;
    left: 0px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    opacity: 0;
}

.notice-text-wrapper {
    display: inline-block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
    height: min-content;
}

.notice {
    text-align: center;
    color: white;
    font-size: 20px;
    user-select: none;
}

#layout-name-container {
    position: absolute;
    top: 40px;
    right: 0px;
    height: max-content;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 15px;
    padding-left: 15px;
}

#layout-name {
    font-size: 15px;
    font-family: Roboto;
    user-select: none;
}

.prompt-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
    align-self: center;
    max-width: 95%;
    height: min-content;
}

.prompt {
    font-family: "Roboto";
    font-size: 18px;
    text-align: center;
}

#whiteboard-border {
    display: none;
    border: 5px dashed black;
    width: calc(100% - 30px);
    margin-left: 10px;
    height: calc(100% - 75px);
    position: relative;
    top: 0px;
    left: 0px;
    margin-top: 50px;
}

.vertical-input-container {
    display: inline-block;
}

.absolute-centered-wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: min-content;
    height: min-content;
}

#status-container {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: max-content;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: red;
}

#status {
    font-size: 15px;
    color: white;
    user-select: none;
}

.selectable-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fill, min-content);
    overflow-x: hidden;
    overflow-y: scroll;
}

#theme-chooser-wrapper {
    width: 100%;
    height: min-content;
}

.theme-chooser-label {
    font-size: 15px;
    text-align: center;
}

.horizontal-centered-wrapper {
    width: min-content;
    height: min-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}